Copilot Studio/AvengersCopilot/Workflows/Horariodaavengers-A5A087E7-1B9C-532A-BDC0-BB222AE7B9BE.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr4ab_sharedsharepointonline_0bf54"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Enter am input",
                  "title": "Modalidade",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Introduzir os dados introduzidos",
                  "title": "Cidade",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b8f61c18-7224-4f8a-9c5f-72fbce5df764"
          }
        }
      },
      "actions": {
        "Respond_to_Copilot": {
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "output": {
                  "title": "Output",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "output": "@variables('Horario')"
            }
          },
          "runAfter": {
            "For_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "81c94f73-dd52-465c-ad3b-a4686da63cc3"
          }
        },
        "Obter_itens": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://alunosipca.sharepoint.com/sites/AvengersTeam",
              "table": "99776c61-f065-47fb-85ff-72b72164d80e",
              "$filter": "Modalidade eq '@{triggerBody()?['text']}' and Title eq '@{triggerBody()?['text_1']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Inicializar_variável": [
              "Succeeded"
            ]
          }
        },
        "Inicializar_variável": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Horario",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        },
        "For_each": {
          "type": "Foreach",
          "foreach": "@outputs('Obter_itens')?['body/value']",
          "actions": {
            "Acrescentar_à_variável_da_cadeia": {
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "Horario",
                "value": "@items('For_each')?['Horario']"
              }
            }
          },
          "runAfter": {
            "Obter_itens": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {},
      "description": "Run a flow from Copilot and send back a response."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}