Power Automate/Analytic_Avengers_Flow_Purchase_Approval/Microsoft.Flow/flows/40a4e3ab-6f13-4161-9d66-0b3a0929af7b/definition.json
{"name":"c61f396b-81b4-4c97-aea5-46f16928382b","id":"/providers/Microsoft.Flow/flows/c61f396b-81b4-4c97-aea5-46f16928382b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Fluxos_Aprovacao_Compra","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"bd479860-16b9-4458-a65d-093e22220909","type":"User","tenantId":"92742eae-a119-43fb-a956-d7def744881a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-02T13:38:09.4659263Z","connectionKeySavedTimeKey":"2024-04-02T13:38:09.4659263Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Quando_uma_linha_é_adicionada,_modificada_ou_eliminada":{"metadata":{"operationMetadataId":"007d9d42-2f11-488d-a211-6c73a2f62736"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr9f8_requisicaodecompra","subscriptionRequest/scope":4},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condição":{"actions":{"Iniciar_e_aguardar_por_uma_aprovação_1":{"metadata":{"operationMetadataId":"8275341f-6533-4ebe-b5d6-7695e51b75e4"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"Requisição de Compra","WebhookApprovalCreationInput/assignedTo":"iefp221@alunos.ipca.pt; iefp223@alunos.ipca.pt","WebhookApprovalCreationInput/details":"Item: @{triggerBody()?['cr9f8_item']}\njustificação: @{triggerBody()?['cr9f8_justificativa']}\nPreço: @{triggerBody()?['cr9f8_preco']}\n","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condição_1":{"actions":{"Atualizar_uma_linha":{"type":"OpenApiConnection","inputs":{"parameters":{"entityName":"cr9f8_requisicaodecompras","recordId":"@triggerBody()?['cr9f8_requisicaodecompraid']","item/cr9f8_escolha":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Iniciar_e_aguardar_por_uma_aprovação_1":["Succeeded"]},"else":{"actions":{"Atualizar_uma_linha_1":{"type":"OpenApiConnection","inputs":{"parameters":{"entityName":"cr9f8_requisicaodecompras","recordId":"@triggerBody()?['cr9f8_requisicaodecompraid']","item/cr9f8_escolha":0},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Iniciar_e_aguardar_por_uma_aprovação_1')?['outcome']","Approve"]}]},"type":"If"}},"runAfter":{"Inicializar_variável":["Succeeded"]},"else":{"actions":{"Iniciar_e_aguardar_por_uma_aprovação":{"metadata":{"operationMetadataId":"68f86e67-32b4-45f8-97b5-e47d4034647d"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Fluxo de Aprovacao de Compra","WebhookApprovalCreationInput/assignedTo":"iefp223@alunos.ipca.pt; iefp221@alunos.ipca.pt","WebhookApprovalCreationInput/details":"@triggerBody()?['cr9f8_justificativa']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condição_2":{"actions":{"Atualizar_uma_linha_2":{"type":"OpenApiConnection","inputs":{"parameters":{"entityName":"cr9f8_requisicaodecompras","recordId":"@triggerBody()?['cr9f8_requisicaodecompraid']","item/cr9f8_escolha":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Iniciar_e_aguardar_por_uma_aprovação":["Succeeded"]},"else":{"actions":{"Atualizar_uma_linha_3":{"type":"OpenApiConnection","inputs":{"parameters":{"entityName":"cr9f8_requisicaodecompras","recordId":"@triggerBody()?['cr9f8_requisicaodecompraid']","item/cr9f8_escolha":0},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Iniciar_e_aguardar_por_uma_aprovação')?['outcome']","Approve"]}]},"type":"If"}}},"expression":{"and":[{"greater":["@triggerBody()?['cr9f8_preco']",500]}]},"metadata":{"operationMetadataId":"160fedba-bb60-4a85-abb8-aea2690ed634"},"type":"If"},"Inicializar_variável":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Resposta","type":"string","value":"Aprovado"}]}}},"outputs":{}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-68385ccf-29f7-44ce-bf2e-02cc539f3148","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-84f7fbc3-7826-416d-919c-cdabb4c27304","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}