Power Apps/Solutions/AnalyticAvengers/Workflows/Fluxo_Inscricao_Modalidade-8E0C887D-99F2-EE11-A1FE-0022489BB2B7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedcommondataserviceforapps_f07fd"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedoffice365_2d21c"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_onedriveforbusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedonedriveforbusiness_95b34"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedapprovals_7571b"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Quando_uma_linha_é_adicionada,_modificada_ou_eliminada": {
          "metadata": {
            "operationMetadataId": "651c3d93-6a58-4479-82b1-933d63e20f6d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cr9f8_inscricaodenovosalunos",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "8e0c887d-99f2-ee11-a1fe-0022489bb2b7"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Inicializar_variável": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dad47df9-d730-44bd-90b3-35eb5355a767"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Modalidade",
                "type": "string",
                "value": "@{triggeroutputs()?['body/_cr9f8_modalidade_label']}"
              }
            ]
          }
        },
        "Comutador": {
          "runAfter": {
            "Iniciar_e_aguardar_por_uma_aprovação": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case": {
              "case": "Yoga",
              "actions": {
                "Condição_1": {
                  "actions": {
                    "Atualizar_uma_linha": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "806f4ea5-620b-461c-a329-9a952989b7d8"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cr9f8_inscricaodenovosalunoses",
                          "recordId": "@triggerBody()?['cr9f8_inscricaodenovosalunosid']",
                          "item/cr9f8_selecionado": true
                        },
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Enviar_um_e-mail_(V2)": {
                      "runAfter": {
                        "Atualizar_uma_linha": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "61b1d978-304c-48da-951f-d81c587374ae"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@triggerBody()?['cr9f8_email']",
                          "emailMessage/Subject": "Resultado do seu pedido de Inscrição",
                          "emailMessage/Body": "<p>Parabéns, está inscrito na modalidade @{variables('Modalidade')} !</p><br><p>@{variables('Imagem_HTML')}</p>",
                          "emailMessage/Importance": "High"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Definir_variável": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Atualizar_uma_linha_1": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "a71884ec-8175-4102-b345-2244bcb70112"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr9f8_inscricaodenovosalunoses",
                            "recordId": "@triggerBody()?['cr9f8_inscricaodenovosalunosid']",
                            "item/cr9f8_selecionado": false
                          },
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Enviar_um_e-mail_(V2)_1": {
                        "runAfter": {
                          "Atualizar_uma_linha_1": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "1411b0f2-b856-42c4-8543-fc9775468542"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@triggerBody()?['cr9f8_email']",
                            "emailMessage/Subject": "Resultado do pedido de Inscrição",
                            "emailMessage/Body": "<p>Infelizmente não temos turma para a modalidade pretendida, @{variables('Modalidade')}. Por favor, submeta um novo pedido com uma nova seleção.</p><br><p>Pedimos desculpa pelo transtorno causado.</p>",
                            "emailMessage/Importance": "High"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Iniciar_e_aguardar_por_uma_aprovação')?['outcome']",
                          "Approve"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b3e2fbde-c5cf-4334-86d1-a2eaa3460fcc"
                  },
                  "type": "If"
                },
                "Obter_conteúdo_do_ficheiro": {
                  "runAfter": {},
                  "metadata": {
                    "b!7MZnFSUt0ke6GRzbjcdrOi7wHxY7dTdMidTsBYQ_ZIeDZFzdwUm4TL2TYrkPnmQv.01RYRVQH2NSAQIPO24AFFJ7GWUFHL7PW5X": "/44.JPG",
                    "operationMetadataId": "9d66f097-a02c-491f-a5ad-711858be37e7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_onedriveforbusiness",
                      "operationId": "GetFileContent",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                    },
                    "parameters": {
                      "id": "b!7MZnFSUt0ke6GRzbjcdrOi7wHxY7dTdMidTsBYQ_ZIeDZFzdwUm4TL2TYrkPnmQv.01RYRVQH2NSAQIPO24AFFJ7GWUFHL7PW5X",
                      "inferContentType": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compor": {
                  "runAfter": {
                    "Obter_conteúdo_do_ficheiro": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5991b355-29b1-4dc1-b52e-102738bcd448"
                  },
                  "type": "Compose",
                  "inputs": "@dataUri(body('Obter_conteúdo_do_ficheiro'))"
                },
                "Definir_variável": {
                  "runAfter": {
                    "Compor": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4da6f7c0-a2eb-419d-ad34-51469cfe267c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Imagem_HTML",
                    "value": "@{concat('<img src=\"',outputs('Compor'),'\" alt=\"imagem\"/>')}"
                  }
                }
              }
            },
            "Case 2": {
              "case": "Musculação",
              "actions": {
                "Obter_conteúdo_do_ficheiro_1": {
                  "runAfter": {},
                  "metadata": {
                    "b!7MZnFSUt0ke6GRzbjcdrOi7wHxY7dTdMidTsBYQ_ZIeDZFzdwUm4TL2TYrkPnmQv.01RYRVQHY5OMP4H42EE5DL7IEGJE3PIXX7": "/44444444444444444444.JPG",
                    "operationMetadataId": "2dbfc43b-82fa-4dc3-819a-5f013e1271d0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_onedriveforbusiness",
                      "operationId": "GetFileContent",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                    },
                    "parameters": {
                      "id": "b!7MZnFSUt0ke6GRzbjcdrOi7wHxY7dTdMidTsBYQ_ZIeDZFzdwUm4TL2TYrkPnmQv.01RYRVQHY5OMP4H42EE5DL7IEGJE3PIXX7",
                      "inferContentType": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compor_1": {
                  "runAfter": {
                    "Obter_conteúdo_do_ficheiro_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0f441a39-9fec-4acb-a4f6-909e38354ef2"
                  },
                  "type": "Compose",
                  "inputs": "@dataUri(body('Obter_conteúdo_do_ficheiro_1'))"
                },
                "Definir_variável_1": {
                  "runAfter": {
                    "Compor_1": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5cf55398-05eb-4a01-9430-8e64e2b91d48"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Imagem_HTML",
                    "value": "@{concat('<img src=\"',outputs('Compor_1'),'\" alt=\"imagem\"/>')}"
                  }
                },
                "Condição": {
                  "actions": {
                    "Atualizar_uma_linha_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "167f3183-9e01-45e2-b9c7-3fac3a12d222"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cr9f8_inscricaodenovosalunoses",
                          "recordId": "@triggerBody()?['cr9f8_inscricaodenovosalunosid']",
                          "item/cr9f8_selecionado": true
                        },
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Enviar_um_e-mail_(V2)_2": {
                      "runAfter": {
                        "Atualizar_uma_linha_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "acaabb1e-1ece-4c39-8840-86f1838e8bcd"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@triggerBody()?['cr9f8_email']",
                          "emailMessage/Subject": "Resultado do seu pedido de Inscrição",
                          "emailMessage/Body": "<p>Parabéns, está inscrito na modalidade @{variables('Modalidade')} !<br><br>@{variables('Imagem_HTML')}</p>",
                          "emailMessage/Importance": "High"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Definir_variável_1": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Atualizar_uma_linha_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "e6f17608-074c-42b7-baee-25a8f07d8c10"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr9f8_inscricaodenovosalunoses",
                            "recordId": "@triggerBody()?['cr9f8_inscricaodenovosalunosid']",
                            "item/cr9f8_selecionado": false
                          },
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Enviar_um_e-mail_(V2)_3": {
                        "runAfter": {
                          "Atualizar_uma_linha_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "8bc4da2e-9dff-461e-9ee6-75d16e1c3dff"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@triggerBody()?['cr9f8_email']",
                            "emailMessage/Subject": "Resultado do seu pedido de Inscrição",
                            "emailMessage/Body": "<p>Infelizmente não temos turma para a modalidade pretendida, @{variables('Modalidade')}. Por favor, submeta um novo pedido com uma nova seleção.<br><br>Pedimos desculpa pelo transtorno causado.</p>",
                            "emailMessage/Importance": "High"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Iniciar_e_aguardar_por_uma_aprovação')?['outcome']",
                          "Approve"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7628cae8-7b1e-420e-b718-d74138e1cdfb"
                  },
                  "type": "If"
                }
              }
            },
            "Case 3": {
              "case": "Cycling",
              "actions": {
                "Obter_conteúdo_do_ficheiro_2": {
                  "runAfter": {},
                  "metadata": {
                    "b!7MZnFSUt0ke6GRzbjcdrOi7wHxY7dTdMidTsBYQ_ZIeDZFzdwUm4TL2TYrkPnmQv.01RYRVQHZMXDYKJZEEZ5EZGPOZRSSAW7WD": "/byegym.JPG",
                    "operationMetadataId": "b28c97e3-961a-4e27-8f41-95f65cc383de"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_onedriveforbusiness",
                      "operationId": "GetFileContent",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                    },
                    "parameters": {
                      "id": "b!7MZnFSUt0ke6GRzbjcdrOi7wHxY7dTdMidTsBYQ_ZIeDZFzdwUm4TL2TYrkPnmQv.01RYRVQHZMXDYKJZEEZ5EZGPOZRSSAW7WD",
                      "inferContentType": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compor_2": {
                  "runAfter": {
                    "Obter_conteúdo_do_ficheiro_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b64d1ca5-0da5-4eb9-bfbc-921021f78040"
                  },
                  "type": "Compose",
                  "inputs": "@dataUri(body('Obter_conteúdo_do_ficheiro_2'))"
                },
                "Definir_variável_2": {
                  "runAfter": {
                    "Compor_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d018a156-96a3-4bae-8720-388500fc8e19"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Imagem_HTML",
                    "value": "@{concat('<img src=\"',outputs('Compor_2'),'\" alt=\"imagem\"/>')}"
                  }
                },
                "Condição_2": {
                  "actions": {
                    "Atualizar_uma_linha_4": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2e2cbeec-6b87-4a51-86f6-e9e7eb6c46cc"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "cr9f8_inscricaodenovosalunoses",
                          "recordId": "@triggerBody()?['cr9f8_inscricaodenovosalunosid']",
                          "item/cr9f8_selecionado": true
                        },
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Enviar_um_e-mail_(V2)_4": {
                      "runAfter": {
                        "Atualizar_uma_linha_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bca3bb42-b57f-4c72-9276-f4aeb1178dde"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@triggerBody()?['cr9f8_email']",
                          "emailMessage/Subject": "Resultado do seu pedido de Inscrição",
                          "emailMessage/Body": "<p>Parabéns, está inscrito na modalidade @{variables('Modalidade')} !<br><br>@{variables('Imagem_HTML')}</p>",
                          "emailMessage/Importance": "High"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Definir_variável_2": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Atualizar_uma_linha_5": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "2c9febf1-7ec7-44cf-a7d0-84aa910b3cd6"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "cr9f8_inscricaodenovosalunoses",
                            "recordId": "@triggerBody()?['cr9f8_inscricaodenovosalunosid']",
                            "item/cr9f8_selecionado": false
                          },
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Enviar_um_e-mail_(V2)_5": {
                        "runAfter": {
                          "Atualizar_uma_linha_5": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a0d11e0b-228b-4494-b47c-f1d10bd3645d"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@triggerBody()?['cr9f8_email']",
                            "emailMessage/Subject": "Resultado do seu pedido de Inscrição",
                            "emailMessage/Body": "<p>Infelizmente não temos turma para a modalidade pretendida, @{variables('Modalidade')}. Por favor, submeta um novo pedido com uma nova seleção.<br><br>Pedimos desculpa pelo transtorno causado.</p>",
                            "emailMessage/Importance": "High"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('Iniciar_e_aguardar_por_uma_aprovação')?['outcome']",
                          "Approve"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "55dd31a2-b1fd-40ff-aac5-f81a7a2eeb4f"
                  },
                  "type": "If"
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@variables('Modalidade')",
          "metadata": {
            "operationMetadataId": "dd658133-453f-4590-a1b5-b168459544b7"
          },
          "type": "Switch"
        },
        "Iniciar_e_aguardar_por_uma_aprovação": {
          "runAfter": {
            "Inicializar_variável_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5688559f-5b82-448c-9c18-de4955ad1631"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "approvalType": "BasicAwaitAll",
              "WebhookApprovalCreationInput/title": "Aprovação da inscrição do aluno",
              "WebhookApprovalCreationInput/assignedTo": "iefp220@alunos.ipca.pt",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Inicializar_variável_2": {
          "runAfter": {
            "Inicializar_variável": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ce83e075-c05d-4861-84e1-8e1b71848cbc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Imagem_HTML",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}