Power Automate/Analytic_Avengers_Flow_Sharepoint_New_File/Microsoft.Flow/flows/2cf6531c-32f5-41ac-880e-a4e7a188ccd1/definition.json
{"name":"14b3d0e3-d926-4b0c-add6-2a3f1c14c98f","id":"/providers/Microsoft.Flow/flows/14b3d0e3-d926-4b0c-add6-2a3f1c14c98f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Fluxo_Sharepoint_Novo_ficheiro","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"bd479860-16b9-4458-a65d-093e22220909","type":"User","tenantId":"92742eae-a119-43fb-a956-d7def744881a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-15T08:39:59.468001Z","connectionKeySavedTimeKey":"2024-04-15T08:39:59.468001Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Quando_um_ficheiro_é_adicionado_ou_modificado_(apenas_propriedades)":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://alunosipca.sharepoint.com/sites/AvengersTeam","table":"88098136-f1da-425d-a46e-e80930c0853b"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedFileItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Iniciar_e_aguardar_por_uma_aprovação":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"Pedido de aprovação para o ficheiro@{triggerBody()?['{Name}']}","WebhookApprovalCreationInput/assignedTo":"iefp220@alunos.ipca.pt","WebhookApprovalCreationInput/details":"Ficheiro submetido na pasta Documentos","WebhookApprovalCreationInput/itemLink":"@{triggerBody()?['ID']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condição":{"actions":{"Enviar_um_e-mail_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"iefp220@alunos.ipca.pt","emailMessage/Subject":"Novo arquivo adicionado com sucesso","emailMessage/Body":"<p>Olá, está a ser notificado, pois um novo arquivo foi adicionado ao seu ambiente.</p><br><p>Nome do arquivo: @{triggerBody()?['{Name}']}</p>","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Iniciar_e_aguardar_por_uma_aprovação":["Succeeded"]},"else":{"actions":{"Enviar_um_e-mail_(V2)_1":{"runAfter":{"Eliminar_ficheiro":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"iefp220@alunos.ipca.pt","emailMessage/Subject":"Arquivo rejeitado","emailMessage/Body":"<p>Olá,</p><br><p>o seu pedido para adicionar o arquivo foi rejeitado.</p>","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Eliminar_ficheiro":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://alunosipca.sharepoint.com/sites/AvengersTeam","id":"@triggerBody()?['{Identifier}']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteFile"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Iniciar_e_aguardar_por_uma_aprovação')?['outcome']","Approve"]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"c68939fc1dab4bb587708f019728870e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-84f7fbc3-7826-416d-919c-cdabb4c27304","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-84f1209f-157d-452c-9850-e11f7f4e09b3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}