Aula_Turma02/Workflows/Flow_BPF-6DE1862D-50EC-EE11-A204-0022489BB2B7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedcommondataserviceforapps_b588f"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_gmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedgmail_fdaf7"
        },
        "api": {
          "name": "shared_gmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cr9f8_f_vendas",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Update_a_row": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr9f8_f_vendases",
                  "recordId": "@triggerBody()?['cr9f8_f_vendasid']",
                  "item/cr9f8_categoria": "Teste"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_email_(V2)_1": {
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "danielsousa.433@gmail.com",
                  "emailMessage/Subject": "Ramificação",
                  "emailMessage/Body": "<p>Está no verdadeiro!</p>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_gmail",
                  "connectionName": "shared_gmail",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Send_email_(V2)": {
                "runAfter": {
                  "Update_a_row_1": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "emailMessage/To": "danielsousa.433@gmail.com",
                    "emailMessage/Subject": "Ramificação",
                    "emailMessage/Body": "<p>Está no falso!</p>"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_gmail",
                    "connectionName": "shared_gmail",
                    "operationId": "SendEmailV2"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Update_a_row_1": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr9f8_f_vendases",
                    "recordId": "@triggerBody()?['cr9f8_f_vendasid']",
                    "item/cr9f8_categoria": "Teste"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerBody()?['cr9f8_freteourecolha']",
                  0
                ]
              }
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}