AnalyticAvengers/Workflows/Fluxo_Responsavel_Modalidade-8FE254F1-BAF8-EE11-A1FF-0022489BB2B7.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr9f8_sharedoffice365_2d21c"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Quando_chega_um_novo_e-mail_(V3)": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "parameters": {
              "to": "iefp220@alunos.ipca.pt",
              "includeAttachments": false,
              "subjectFilter": "Nova Inscricao",
              "importance": "High",
              "fetchOnlyWithAttachment": false,
              "folderPath": "Inbox"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "OnNewEmailV3"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condição": {
          "actions": {
            "Enviar_um_e-mail_(V2)": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "iefp220@alunos.ipca.pt",
                  "emailMessage/Subject": "Novo aluno para Yoga",
                  "emailMessage/Body": "<p>Bom dia,</p><br><p>um novo aluno está inscrito.</p><br><p>Cumprimentos</p>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "contains": [
                  "@triggerOutputs()?['body/body']",
                  "Yoga"
                ]
              }
            ]
          },
          "type": "If"
        },
        "Condição_2": {
          "actions": {
            "Enviar_um_e-mail_(V2)_1": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "iefp220@alunos.ipca.pt",
                  "emailMessage/Subject": "Novo aluno para Musculação",
                  "emailMessage/Body": "<p>Bom dia,<br><br>um novo aluno está inscrito.<br><br>Cumprimentos</p>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "contains": [
                  "@triggerOutputs()?['body/body']",
                  "Musculação"
                ]
              }
            ]
          },
          "type": "If"
        },
        "Condição_1": {
          "actions": {
            "Enviar_um_e-mail_(V2)_2": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "iefp220@alunos.ipca.pt",
                  "emailMessage/Subject": "Novo aluno para Cycling",
                  "emailMessage/Body": "<p>Bom dia,<br><br>um novo aluno está inscrito.<br><br>Cumprimentos</p>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "contains": [
                  "@triggerOutputs()?['body/body']",
                  "Cycling"
                ]
              }
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}