Power Automate/Analytic_Avengers_Flow_Authorizing_of_Leaving/Microsoft.Flow/flows/7dc69556-08fe-4bb8-a3f6-3580e2abd441/definition.json
{"name":"cbeab1c5-1908-475b-b71f-a7ccfb8f3e50","id":"/providers/Microsoft.Flow/flows/cbeab1c5-1908-475b-b71f-a7ccfb8f3e50","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Fluxo_Aprovacao_Saida","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"bd479860-16b9-4458-a65d-093e22220909","type":"User","tenantId":"92742eae-a119-43fb-a956-d7def744881a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-12T10:39:55.7169477Z","connectionKeySavedTimeKey":"2024-04-12T10:39:55.7169477Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Criar_uma_aprovação":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"Sair mais cedo","ApprovalCreationInput/assignedTo":"iefp220@alunos.ipca.pt\n","ApprovalCreationInput/details":"Posso sair mais cedo?","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Enviar_um_e-mail_(V2)":{"runAfter":{"Aguardar_por_uma_aprovação":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"iefp220@alunos.ipca.pt","emailMessage/Subject":"Pedido para sair mais cedo","emailMessage/Body":"<p>Resposta submetida</p>","emailMessage/Importance":"High"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Publicar_cartão_num_chat_ou_canal":{"runAfter":{"Criar_uma_aprovação":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"User","location":"Channel","body/recipient/groupId":"55fa3802-ebff-4d89-ba6f-d92f282d4528","body/recipient/channelId":"19:y4qubJn19Ioyb1cpKDXJ3H9jdQty6dt2ckJ5VNpOdAY1@thread.tacv2","body/messageBody":"@body('Criar_uma_aprovação')?['adaptiveCard']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Aguardar_por_uma_aprovação":{"runAfter":{"Publicar_cartão_num_chat_ou_canal":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalName":"@body('Criar_uma_aprovação')?['name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_approvals":{"connectionName":"shared-approvals-84f7fbc3-7826-416d-919c-cdabb4c27304","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-84f1209f-157d-452c-9850-e11f7f4e09b3","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-0800a5c8-6412-44f1-9eec-01596a1ac278","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}